<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/site.css">
</head>
<body background="../../public/images/{{ background }}.jpg" style="background-repeat:no-repeat; background-size:cover;">
    <div class="container">
        <div class="card vertical-center" style="opacity: 0.9">
            <div class="card-body" style="width: 100%">
                <h1 class="card-title" align="center">Weather!</h1>
                <form method="GET" action="/weather" class="float-right">
                    <div class="form-horizontal">
                        <input type="text" name="search" id="search" placeholder="city"/>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <br/>
                <h3 class="text-primary">{{ current.cityName }}</h3>
                <br/>
                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="text-secondary">Temperature: {{ current.currentTemperature }}&#8457;</h4>
                        <h4 class="text-secondary">Temperature Max: {{ current.maxTemperature }}&#8457;</h4>
                        <h4 class="text-secondary">Temperature Min: {{ current.minTemperature }}&#8457;</h4>
                        <h4 class="text-secondary">Humidity: {{ current.humidity }}%</h4>
                        <br/>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5 class="text-secondary">Current:</h5>
                            </div>
                            <div class="col-lg-8">
                                {{#each current.weather}}
                                    <h5 class="text-secondary" style="margin-top: -5%"><img src="http://openweathermap.org/img/w/{{ icon }}.png">{{ main }}</h5>
                                {{/each}}
                            </div>
                        </div>
                        <h5 class="text-secondary">Description: {{ current.weatherDesc }}</h5>
                    </div>
                </div>

                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Hourly</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Daily</a>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h4>Hourly Forecast:</h4>
                        <div style="max-height: 65%; max-width: 65%; margin: auto">
                             <canvas id="hourlyChart" width="700" height="600"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <h4>Daily Forecast:</h4>
                        <div style="max-height: 65%; max-width: 65%; margin: auto">
                             <canvas id="dailyChart" width="700" height="600"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type = "hidden" id = "hourlyTemperature" value = "{{ forecast.hourlyTemperature }}" />
        <input type = "hidden" id = "hourlyTime" value = "{{ forecast.hourlyTime }}" />
        <input type = "hidden" id = "dailyTemperatures" value = "{{ forecast.dailyTemperatures }}" />
        <input type = "hidden" id = "dailyTimes" value = "{{ forecast.dailyTimes }}" />
    </div>

 <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../../public/js/forecast.js"></script>
</body>
</html> 